html{
  scroll-behavior: smooth;
}
*{
  padding:0;
  margin:0;
  box-sizing:border-box ;
}
:root{
    --text-color: rgb(245, 248, 250); 
    --jg:#98d146db;
    --jb:#4babe2db;
    --jf:#9a40ff;
    --cs:#ff7e15;
    --jc:#8e95aa;
    --lb:#ff000a;
    --blue: #6ae0ff;
    --shade: rgb(26, 30, 38); 
     --temp:#111a12;
      --bg-color: rgb(15, 18, 25); 
   --accent-color:#16832d;
  --hover-color: #16832d; 
  --radius: 1.8rem;
  --gbc:#040806;
  --temp:#111a12;
  --cards:#08d549;
  --dkh:#15e0ff;
  --date:#696972;

}
body {
 background: #000;
 font-family: "ABeeZee",sans-serif;
 
}
h1 {
  margin: 0;
  left:0;
  position:fixed;
  left:0;
  color: #fff;
  max-width:fit-content;
}
header{
  font-family: "Chakra Petch", sans-serif;
  background: #000;
  top: 0;
  width:100%;
  position: fixed;
  padding:0.9rem;
  display:flex;
  border: none;
  justify-content:flex-end;
  box-shadow:3px 5px 5px none;
  z-index: 1000;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);

  border-bottom: 1px solid rgba(0, 255, 150, 0.08);
  transition: 
    backdrop-filter 0.3s ease,
    background 0.3s ease,
    box-shadow 0.3s ease;
}
.header.scrolled {
  background: rgba(20, 20, 20, 0.55);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);

  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.35);
}
.logo-img {
  height: 32px;          /* ideal header size */
  width: auto;
  border:none;
  border-radius: 30px;
  display: block;
}


#menu{
  color: #fff;
}
.blog-date{
    color: var(--date);
    font-style: italic;
}
/* article styles */

.dark-theme {
  width: 100%;
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #f0f0f0;
  line-height: 1.6;
  background:#000;
}
figcaption{
    font-style:italic;
    color:grey ;
}

.article-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
}

.article-meta {
  text-align: center;
  font-size: 0.9rem;
  color: #bbb;
}
.article-content .firste{
  font-size: 48px;
  font-weight: bold;
  float: left;
  line-height: 1;
  padding-top: 0;
  padding-right: 5px;
}

.article-image {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.article-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
  cursor: none;
  transition: transform 0.3s ease;
}

.article-image img:hover {
  transform: scale(1.05);
}
img{
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
  cursor: none;
  transition: transform 0.3s ease;
}
img:hover{
    transform: scale(1.05);
}
.blurry{
     background-size: cover;
     background-position: center;
     }
.blurry.imageloaded > img{
     opacity: 1;
     }
.blurry > img{
     opacity: 0;
     transition: opacity 2s ease-in-out, transform 0.3s ease;
            }
.article-content {
  font-size: 1rem;
}
#toc{
    margin: 10px;
    color:#000;
    text-decoration: none;
    padding: 10px;
    background:#fff;
    border-color: #fff;
    border: dotted;
    border-radius: 20px;
}
 #toc a {
            text-decoration: none;
            color: #000;
            
            
        }
        #toc a:hover {
            text-decoration: underline;
            color: #08d549;
        }
 #toc h3{
    color: #08d549;
    font-weight: bolder;
}
.toc-item {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
article h2 {
  font-size: 1.5rem;
  margin-top: 20px;
  color: var(--cards);
}
a{
    color: #08d549;
    
}


blockquote {
  font-style: italic;
  padding: 10px 20px;
  border-left: 4px solid var(--accent-color);
  margin: 20px 0;
  background: #1e1e1e;
  color: #ccc;
}

ul {
  padding-left: 20px;
}

ul li {
  margin-bottom: 5px;
}
/* Code block styles */
.code-block {
    /* background-color: #f7f7f7; */
    background-color: #000;
    color:#fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.code-block pre {
    font-size: 14px;
    line-height: 1.5;
    padding: 3px;
    overflow-x: auto;
}
.code-snippet{
    color:var(--cs);
    overflow: auto;
}

.code-block button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.code-block button:hover {
    background-color: #3e8e41;
}

@media (max-width: 768px) {
  .dark-theme {
    padding: 15px;
  }
  .article-title {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.3rem;
  }
}

@media (max-width: 480px) {
  .article-title {
    font-size: 1.5rem;
  }
  .article-meta {
    font-size: 0.8rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  blockquote {
    font-size: 0.9rem;
  }
}


  

/* Style the menu button */
.menu-btn {
cursor: pointer;
display: inline-block;
position: relative;
width: 30px;
height: 30px;
}

/* Style the lines */
.line {
background-color: #fff;
height: 2px;
width: 30px;
display: block;
margin: 5px 0;
transition: all 0.3s ease-in-out;
}

/* Style the lines when the button is clicked (X shape) */
.menu-btn.clicked .line-1 {
transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.clicked .line-2 {
opacity: 0;
}

.menu-btn.clicked .line-3 {
transform: rotate(-45deg) translate(5px, -5px);
}

/* Navigation Menu Styles */
.bigMenu{
  display: none;
}
nav {
background:#000;
padding: 1em;
width: 100%;
text-align: center;
border: none;
display:none;
z-index: 3;
position: fixed;
}

nav ul {
list-style: none;
margin: 0;
padding: 0;
display: block;
justify-content: space-between;
}

nav li {
margin-right: 20px;

}

nav a {
color: #fff;
text-decoration: none;
transition: color 0.2s ease;
padding: 3px;
border-radius: 5px;
 transition: all .7s;
}
nav a:hover{
  background:var(--cards);
  color: #fff;
}
/*responsive nav bar*/
@media(max-width:480px){
  nav ul{
      display: block;
      
  }
 nav li {
margin-top: 20px;
}

}
@media(min-width:768px){
.bigMenu{
  display: flex;
}
nav{
  display: none;
}
#menu-btn{
  display: none;
}
  .bigMenu a{
      color: #fff;
      transition: color 0.2s ease;
      margin: 10px;
      text-decoration: none;
      padding: 5px;
      transition: all .7s;
      
      }
      .bigMenu a:hover{
      border-radius:10px ;
       background-color:var(--cards);
      }


  
  #bigMenu{
list-style: none;
margin: 0;
padding: 0;
display: flex;
justify-content: space-between;
  }
}

/* Simple Loading Animation*/
.loading{
  display:none;
  width:1.3rem;
  height:1.3rem;
  border:dotted;
  margin: auto;
  border-bottom:3px solid #000;
  border-top: 3px solid #cc4311e4;
  border-left: 3px solid #a12fbd;
  border-right: 3px solid #000;
  border-radius: 100%;
  animation:load 1s linear infinite;
}
@keyframes load {
  from{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(360deg);
  }
}

.flex-center {
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 15px;
}
/* ======= Blog and Game Cards ======= */

.blogs-wrapper {
 width: 100%;
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
 gap: 2rem;
 justify-items: center;
 align-items: start;
 margin-block: 2rem;
 color: #fff;
}

.blogs-wrapper + a {
 text-align: center;
 padding: 1rem;
 background-color: var(--temp);
 border-radius: var(--radius);
 margin-bottom: 4rem;
 transition: .3s ease;
}

.blogs-wrapper + a img {
 width: 1.4rem;
 height: 1.4rem;
 margin-left: .4rem;
}
.blogs-wrapper + a:hover {
 background-color: var(--hover-color);
}

.blog-post {
 width: 85%;
 max-width: 20rem;
 min-height: 28rem;
 position: relative;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 padding: 1rem;
 background-color: var(--temp);
 border-radius: var(--radius);
 box-shadow: 0 10px 20px rgba(10, 10, 10, 0.4), 0 6px 6px rgba(10, 10, 10, 0.2);
 transition: all 0.3s ease-in-out;
}
.blog-post:hover {
 box-shadow: 0 14px 28px rgba(5, 5, 5, 0.4), 0 10px 10px rgba(5, 5, 5, 0.2);
 transform: translateY(-4px);
}

.post-thumbnail {
 width: 100%;
 height: 12rem;
 align-self: center;
 object-fit: cover;
 background-color: var(--bg-color);
 border-radius: .8rem;
}
.post-thumbnail img {
 width: 100%;
 height: 100%;
 border-radius: .8rem;
}

.blog-post h2 {
 display: -webkit-box;
 -webkit-line-clamp: 2;
 -webkit-box-orient: vertical;
 overflow: hidden;
 text-overflow: ellipsis;
 word-break: break-word;
 margin-block: .8rem;
}

.blog-post p {
 display: -webkit-box;
 -webkit-line-clamp: 4;
 -webkit-box-orient: vertical;
 overflow: hidden;
 text-overflow: ellipsis;
 margin-bottom: 1.1rem;
}

.blog-post a {
 align-self: center;
 text-decoration: none;
 width: 90%;
 display: block;
 position: absolute;
 bottom: 1.2rem;
 text-align: center;
 color: var(--text-color);
 padding-block: .8rem;
 background-color: var(--accent-color);
 border: none;
 border-radius: var(--radius);
 transition: .3s ease;
}
.blog-post a:hover {
 transform: scale(.960);
}

/* ====== Blogs and Game Cards Styling Ends =======*/
/* ======= Footer Styles ======== */
footer{
    width: 100vw;
 display: flex;
 flex-direction: column;
 align-items: center;
 color: var(--text-color);
}
.newsletter, #mail {
 width: 80%;
 padding: 1rem 5%;
 background-color: var(--temp);
 border-radius: var(--radius);
}
.newsletter h2,
.newsletter p {
 text-align: center;
 margin: 5px;
 word-spacing: 5px;
 
}
.newsletter h2{
     font-size: 1.8rem;
 font-weight: 600;
}

.input-wrapper {
 width: 100%;
 height: 4rem;
 position: relative;
 border: 0.080rem solid var(--bg-color);
 border-radius: var(--radius);
 margin: 1rem 0;
}

.input-wrapper input {
 width: 92%;
 height: 100%;
 color: var(--text-color);
 font-family: 'Rubik', Sans-Serif;
 padding-inline: 4%;
 background-color: transparent;
 border: none;
 border-radius: var(--radius);
}

.input-wrapper button {
 height: 75%;
 position: absolute;
 right: .4rem;
 padding-inline: 1.2rem;
 color: var(--text-color);
 background-color: var(--accent-color);
 border: .080rem solid var(--accent-color);
 border-radius: .6rem;
}
  
.input-wrapper button:hover {
 animation: pulse;
 animation-duration: .5s;
}
.flex-between {
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.footer-brief {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 margin-top: 2.5rem;
 margin:1.2rem;
 
}
.footer-brief h2 {
 margin-bottom: .4rem;
}
.footer-brief h2 span,
.footer-brief p {
 opacity: .6;
}

.social-accounts {
 width: 90%;
 height: 3rem;
 justify-content: flex-start;
 margin-top: 1rem;
 margin-bottom: 2rem;
}

.social-accounts a {
 margin-right: 1rem;
}

.social-accounts img {
 transition: 0.4s;
}
.social-accounts a:hover .social-accounts img {
 transform: scale(1.1);
}

.footer-links {
 gap: .8rem;
 margin: 0 0 -.4rem 1rem;
}
.footer-links a {
 height: 1.5rem;
 display: flex;
 align-items: center;
 justify-content: column;
 padding-right: .8rem;
 color: var(--accent-color);
 border-right: 0.060rem solid var(--temp);
}
.footer-links a:last-of-type {
 border: none;
}





@media (min-width: 760px) {
 .navbar {
  width: 90%;
  padding-inline: 1rem;
 }
 
 .home-section {
  flex-direction: row;
  padding-top: 4rem;
 }
 .home-section > div {
  width: 50%;
 }
 .home-section img {
  width: 20rem;
  align-self: flex-end;
 }
 .home-section > div:first-of-type {
  align-items: flex-start;
 }
 .home-section h2,
 .home-section p {
  text-align: left;
 }
 .home-section h2 {
  font-size: 3rem;
 }
  
 .spotlight-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 2rem;
 }
 .spotlight-img {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 24rem;
 }
 .spotlight-img img {
  width: 80%;
 }


 footer {
  width: 90%;
  padding-inline: 5%;
 }
 .footer-brief,
 .social-accounts {
  width: 95%;
  align-items: center;
  justify-content: center; 
 }
 .footer-brief p {
  text-align: center;
 }
}

/* =========== Loading Animation========== */
 .loading-screen{
      position:fixed;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background:#000000;
      display:flex;
      flex-direction:column;
      align-items:center;
      justify-content:center;
      z-index:99999;
      color:#08D549;
      font-family:'Orbitron',sans-serif;
  }
  /* From Uiverse.io by Nawsome */ 
.banter-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 72px;
  height: 72px;
  margin-left: -36px;
  margin-top: -36px;
  background:transparent;
}

.banter-loader__box {
  float: left;
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.banter-loader__box:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    #000000,
    #08d549
  );
}

.banter-loader__box:nth-child(3n) {
  margin-right: 0;
  margin-bottom: 6px;
}

.banter-loader__box:nth-child(1):before, .banter-loader__box:nth-child(4):before {
  margin-left: 26px;
}

.banter-loader__box:nth-child(3):before {
  margin-top: 52px;
}

.banter-loader__box:last-child {
  margin-bottom: 0;
}

@keyframes moveBox-1 {
  9.0909090909% {
    transform: translate(-26px, 0);
  }

  18.1818181818% {
    transform: translate(0px, 0);
  }

  27.2727272727% {
    transform: translate(0px, 0);
  }

  36.3636363636% {
    transform: translate(26px, 0);
  }

  45.4545454545% {
    transform: translate(26px, 26px);
  }

  54.5454545455% {
    transform: translate(26px, 26px);
  }

  63.6363636364% {
    transform: translate(26px, 26px);
  }

  72.7272727273% {
    transform: translate(26px, 0px);
  }

  81.8181818182% {
    transform: translate(0px, 0px);
  }

  90.9090909091% {
    transform: translate(-26px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(1) {
  animation: moveBox-1 4s infinite;
}

@keyframes moveBox-2 {
  9.0909090909% {
    transform: translate(0, 0);
  }

  18.1818181818% {
    transform: translate(26px, 0);
  }

  27.2727272727% {
    transform: translate(0px, 0);
  }

  36.3636363636% {
    transform: translate(26px, 0);
  }

  45.4545454545% {
    transform: translate(26px, 26px);
  }

  54.5454545455% {
    transform: translate(26px, 26px);
  }

  63.6363636364% {
    transform: translate(26px, 26px);
  }

  72.7272727273% {
    transform: translate(26px, 26px);
  }

  81.8181818182% {
    transform: translate(0px, 26px);
  }

  90.9090909091% {
    transform: translate(0px, 26px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(2) {
  animation: moveBox-2 4s infinite;
}

@keyframes moveBox-3 {
  9.0909090909% {
    transform: translate(-26px, 0);
  }

  18.1818181818% {
    transform: translate(-26px, 0);
  }

  27.2727272727% {
    transform: translate(0px, 0);
  }

  36.3636363636% {
    transform: translate(-26px, 0);
  }

  45.4545454545% {
    transform: translate(-26px, 0);
  }

  54.5454545455% {
    transform: translate(-26px, 0);
  }

  63.6363636364% {
    transform: translate(-26px, 0);
  }

  72.7272727273% {
    transform: translate(-26px, 0);
  }

  81.8181818182% {
    transform: translate(-26px, -26px);
  }

  90.9090909091% {
    transform: translate(0px, -26px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(3) {
  animation: moveBox-3 4s infinite;
}

@keyframes moveBox-4 {
  9.0909090909% {
    transform: translate(-26px, 0);
  }

  18.1818181818% {
    transform: translate(-26px, 0);
  }

  27.2727272727% {
    transform: translate(-26px, -26px);
  }

  36.3636363636% {
    transform: translate(0px, -26px);
  }

  45.4545454545% {
    transform: translate(0px, 0px);
  }

  54.5454545455% {
    transform: translate(0px, -26px);
  }

  63.6363636364% {
    transform: translate(0px, -26px);
  }

  72.7272727273% {
    transform: translate(0px, -26px);
  }

  81.8181818182% {
    transform: translate(-26px, -26px);
  }

  90.9090909091% {
    transform: translate(-26px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(4) {
  animation: moveBox-4 4s infinite;
}

@keyframes moveBox-5 {
  9.0909090909% {
    transform: translate(0, 0);
  }

  18.1818181818% {
    transform: translate(0, 0);
  }

  27.2727272727% {
    transform: translate(0, 0);
  }

  36.3636363636% {
    transform: translate(26px, 0);
  }

  45.4545454545% {
    transform: translate(26px, 0);
  }

  54.5454545455% {
    transform: translate(26px, 0);
  }

  63.6363636364% {
    transform: translate(26px, 0);
  }

  72.7272727273% {
    transform: translate(26px, 0);
  }

  81.8181818182% {
    transform: translate(26px, -26px);
  }

  90.9090909091% {
    transform: translate(0px, -26px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(5) {
  animation: moveBox-5 4s infinite;
}

@keyframes moveBox-6 {
  9.0909090909% {
    transform: translate(0, 0);
  }

  18.1818181818% {
    transform: translate(-26px, 0);
  }

  27.2727272727% {
    transform: translate(-26px, 0);
  }

  36.3636363636% {
    transform: translate(0px, 0);
  }

  45.4545454545% {
    transform: translate(0px, 0);
  }

  54.5454545455% {
    transform: translate(0px, 0);
  }

  63.6363636364% {
    transform: translate(0px, 0);
  }

  72.7272727273% {
    transform: translate(0px, 26px);
  }

  81.8181818182% {
    transform: translate(-26px, 26px);
  }

  90.9090909091% {
    transform: translate(-26px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(6) {
  animation: moveBox-6 4s infinite;
}

@keyframes moveBox-7 {
  9.0909090909% {
    transform: translate(26px, 0);
  }

  18.1818181818% {
    transform: translate(26px, 0);
  }

  27.2727272727% {
    transform: translate(26px, 0);
  }

  36.3636363636% {
    transform: translate(0px, 0);
  }

  45.4545454545% {
    transform: translate(0px, -26px);
  }

  54.5454545455% {
    transform: translate(26px, -26px);
  }

  63.6363636364% {
    transform: translate(0px, -26px);
  }

  72.7272727273% {
    transform: translate(0px, -26px);
  }

  81.8181818182% {
    transform: translate(0px, 0px);
  }

  90.9090909091% {
    transform: translate(26px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(7) {
  animation: moveBox-7 4s infinite;
}

@keyframes moveBox-8 {
  9.0909090909% {
    transform: translate(0, 0);
  }

  18.1818181818% {
    transform: translate(-26px, 0);
  }

  27.2727272727% {
    transform: translate(-26px, -26px);
  }

  36.3636363636% {
    transform: translate(0px, -26px);
  }

  45.4545454545% {
    transform: translate(0px, -26px);
  }

  54.5454545455% {
    transform: translate(0px, -26px);
  }

  63.6363636364% {
    transform: translate(0px, -26px);
  }

  72.7272727273% {
    transform: translate(0px, -26px);
  }

  81.8181818182% {
    transform: translate(26px, -26px);
  }

  90.9090909091% {
    transform: translate(26px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(8) {
  animation: moveBox-8 4s infinite;
}

@keyframes moveBox-9 {
  9.0909090909% {
    transform: translate(-26px, 0);
  }

  18.1818181818% {
    transform: translate(-26px, 0);
  }

  27.2727272727% {
    transform: translate(0px, 0);
  }

  36.3636363636% {
    transform: translate(-26px, 0);
  }

  45.4545454545% {
    transform: translate(0px, 0);
  }

  54.5454545455% {
    transform: translate(0px, 0);
  }

  63.6363636364% {
    transform: translate(-26px, 0);
  }

  72.7272727273% {
    transform: translate(-26px, 0);
  }

  81.8181818182% {
    transform: translate(-52px, 0);
  }

  90.9090909091% {
    transform: translate(-26px, 0);
  }

  100% {
    transform: translate(0px, 0);
  }
}

.banter-loader__box:nth-child(9) {
  animation: moveBox-9 4s infinite;
}

